/* Header Section */
#main--header {
  width: 100%;
  min-height: 98vh;
  background: linear-gradient(180deg, rgba(15, 14, 21, 0.5) 0, #0f0e15 100%),
    url("../img/header.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

/* Header/Hero section */
.hero {
  min-height: calc(98vh - 110px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
}

.hero--container {
  text-align: center;
  width: 95%;
  max-width: 700px;
}

.hero h1 {
  font-size: 60px;
  color: var(--light-color);
  font-weight: 900;
  text-align: center;
}

.hero p {
  color: var(--gray-200);
  margin-top: -12px;
  font-size: 20px;
  text-align: center;
}

@media screen and (max-width: 765px) {
  #main--header {
    min-height: 50vh;
  }

  .hero {
    min-height: calc(50vh - 110px);
  }
}
