* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #0f0e15;
  --secondary-color: #ff7b7bb3;
  --tertiary-color: #09080f;
  --gray-100: #eee;
  --gray-200: #aaa;
  --light-color: #fff;
}

body {
  font-family: "Inter", sans-serif;
  color: var(--gray-100);
  line-height: 1.7;
  background: var(--primary-color);
}

img {
  width: 100%;
}

.container {
  margin: 0 auto;
}

.d--none {
  display: none;
}

body::-webkit-scrollbar {
  width: 0px;
}
